# Configuración de SQL Server 2022

# Contraseña del usuario administrador sa.
# Debe cumplir política segura: mayúsculas, minúsculas, número y símbolo.
MSSQL_SA_PASSWORD=SqlServer2022*

# Edición de SQL Server.
# Developer es gratuita para desarrollo y pruebas.
MSSQL_PID=Developer

# Puerto local de conexión.
MSSQL_PORT=1433

# Nombre de la base de datos que se creará automáticamente.
MSSQL_DATABASE=MiBaseDeDatos
